{% extends 'dashboardBase.html' %}

{% block doctorName %}
Dr. {{doctor["name"]}}
{% endblock %}


{% block mainPanel %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Patient Details</h4>
            <p class="card-description">
              Basic form layout
            </p>
            <form class="forms-sample" method="POST" enctype="multipart/form-data">

              <div cl ass="form-group">
                <label for="modelName">Model</label>
                <select id="modelName" name="modelName" class="form-select">
                  <option value="generalEye">General Eye Disease Detection Model</option>
                  <option value="skinCancer">Skin Cancer Detection Model</option>
                  <option value="lungDisease">Lung Disease Detection Model</option>

                </select>
              </div>

              <div class="form-group">
                <label for="firstName">Patient First Name</label>
                <input type="text" class="form-control" id="patientName" placeholder="Patient first Name"
                  name="firstName">
              </div>

              <div class="form-group">
                <label for="secondName">Patient Second Name</label>
                <input type="text" class="form-control" id="patientName" placeholder="Patient second Name"
                  name="secondName">
              </div>

              <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age" placeholder="Age" name="age">
              </div>

              <div class="form-group">
                <label for="gender">Gender</label>
                <select id="gender" name="gender" class="form-select">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="others">Other</option>
                </select>
              </div>

              <div class="form-group">
                <label for="symptoms">Symptoms</label>
                <input type="text" class="form-control" id="symptoms" placeholder="Symptoms" name="symptoms">
              </div>

              <div class="form-group">
                <label for="formFile">Upload Image</label>
                <input class="form-control file-uploader" type="file" id="formFile" name="image" onchange='upload()'>
              </div>

              <div class="form-group">
                <label for="status">Status</label>
                <select id="status" name="status" class="form-select">
                  <option value="review">In review</option>
                  <option value="completed">Completed</option>
                  <option value="operation">Operation</option>
                </select>
              </div>

              <button type="submit" class="btn btn-success me-2" value="submit"><b>Submit</b></button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Uploaded Image</h4>
            <p class="card-description">
              Click <cite>Submit</cite> to predict and save the work
            </p>
            <div class="w-100 mb-5 rounded scanImage" style="background-color: #eee; min-height: 75%; background-position: center;
            background-repeat: no-repeat;
            background-size: cover;"></div>
            <figure class="text-center">
              <p class="h6">Click <cite>Submit</cite> to predict and save the work</p>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a
          href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from
        BootstrapDash.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights
        reserved.</span>
    </div>
  </footer>
  <!-- partial -->
</div>
{% endblock %}